@use '@angular/material' as mat;
$warn-palette: mat.define-palette(mat.$red-palette);

$indigo-pink-colors: (
  primary: mat.define-palette(mat.$indigo-palette, 500),
  accent: mat.define-palette(mat.$pink-palette, A200, A100, A400),
  warn: $warn-palette,
);
$deep-purple-amber-colors: (
  primary: mat.define-palette(mat.$deep-purple-palette, 500),
  accent: mat.define-palette(mat.$amber-palette, A200, A100, A400),
  warn: $warn-palette,
);
$pink-blue-grey-colors: (
  primary: mat.define-palette(mat.$pink-palette, 700, 500, 900),
  accent: mat.define-palette(mat.$blue-grey-palette, A200, A100, A400),
  warn: $warn-palette,
);
$purple-green-colors: (
  primary: mat.define-palette(mat.$purple-palette, 700, 500, 800),
  accent: mat.define-palette(mat.$green-palette, A200, A100, A400),
  warn: $warn-palette,
);

$theme-colors: $indigo-pink-colors;
$light-theme: mat.define-light-theme(
  (
    color: $theme-colors,
    // Only include `density` and `typography` in the default theme
    density: 0,
    typography: mat.define-typography-config(),
  )
);
$dark-theme: mat.define-dark-theme(
  (
    color: $theme-colors,
    // Do not include `density` and `typography` in alternate themes
  )
);

@mixin core-themes() {
  // Always include
  @include mat.core();

  // Include for the default theme
  @include mat.core-theme($light-theme);
  @include mat.typography-hierarchy($light-theme);

  // @media (prefers-color-scheme: dark) {
  .dark-theme {
    // Include for alternate themes
    @include mat.core-color($dark-theme);
  }
}
